div.multicolumn-options-column {
  float: right;
  padding: 10px;
}

div.form-item-espn-logo .form-radios {
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

div.form-item-espn-logo label {
  line-height: 100px;
  margin-left: 5px;
}
